.new-hotel {
  width: 100%;
  display: flex;
}

.new-container-hotel {
  flex: 6;
}

.top-hotel,
.bottom-hotel {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
}

.top-hotel h1 {
  color: lightgray;
  font-size: 20px;
}

.left-hotel {
  flex: 1;
  text-align: center;
}

.img-hotel {
  width: 90px;
  height: 90px;
  object-fit: cover;
  display: inline-block;
  margin: 5px;
}


.right-hotel {
  display: block;
  flex: 2;
  padding: 0px 20px;
}

.input-hotel {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

.form-input-hotel {
  width: 40%;
  margin: 5px;
  padding-top: 5px;
  display: block;
}
.form-hotel {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 0 20px;}

.label-hotel {
  display: flex;
  align-items: center;
  gap: 10px;
}
.button-hotel {
  display: block;
  width: 10%;
  padding: 10px;
  margin-top: 30px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  left: 30px;
}