#container-confirm {
    margin-top: 50px;
    width: 50%;
    position: absolute;
    left: 20%;
}

#ending-confirm {
    display: flex;
}
#ending-confirm .icon-done{
    margin-top: 5px;
}
#ending-confirm .thankyou-massage-ending{
    margin-left: 10px;
}

#content-confirm {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

#content-confirm .content-child {
    padding: 20px 0px 30px 20px;
    width: 45%;
}
.button-confirm {
    width: 80%;
    position: absolute;
    left: 50%;
    margin: 20px;
}

.payment-page {
    
}
.payment-page .payment-page-content {
    display: flex;
}