.hover1 .figure .img-top-des{
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover1 .figure:hover .img-top-des{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.figure{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
